*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
    font-family: Comic Sans MS, Comic Sans, cursive;
    line-height: 35px;
}

h1, h2, h3{
    color: #1B1B1B;
    text-align: center;
    margin: 20px;

}

footer{
    color: #8F8F8F;
    text-align: center;
    margin: 25px;
}

li, p{
    font-size: 16px;
    text-align: left;
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.container{
    margin: 40px 150px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}
ul, ol{
    list-style-position: inside;
}

figcaption{
    text-align: end;
 
}

footer, figcaption{
    font-size: 12px;
}


